.blocks {
    display: block;
    margin-top: 20px;
    font-size: small;
    color: var(--text-gray-300);
    user-select: none;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.2rem;
}